{% extends 'default.twig' %}

{% block pageclasses %}{{ parent() }} page-home{% endblock %}

{% block title %}Home{% endtitle %}

{% block main %}
<h1 class="grand-heading">Tight!</h1>
<p class="emphasis-paragraph">On your very own {{ app.config.get('general/sitename') }}.</p>
<p>This is a custom home page template, that you can use to make the best landing page ever.</p>
<p>Remember, this generator is super barebones to not get in your way while your building your awesome website.</p>
{% endblock %}
